
<div class="ekart--search--product">
    <!--        <input class ="ekart-search-product-input" [value]="searchText" (input)="updateSearchText($event)"/> -->
    <input class ="ekart-search-product-input" [value]="searchText" [(ngModel)]="searchText" #name/>
            <button [ngClass]="{'btn':true, 'btn-search':searchText, 'btn-search-disabled':!searchText }" [disabled]="!searchText" (click)="onSearchTextChanged(name)">Search</button>
            <!--<button class="btn btn-search">Search</button>-->
    </div>
    <div class="ekart-search-result-for">
        <p *ngIf="searchText!=''"><strong>Search result for : </strong>{{searchText}}</p>
        <h1>djfkdjfdkj</h1>
    </div>
    
   