<div class="ekart--product--details--info scroll">
	<div class="ekart-product-detail-close">
		<i class="fa fa-times" aria-hidden="true"></i>
	</div>
	<div class="ekart-product-detail-image">
		<img [src]="product.imageURL" style="height:300px;width:400px;">
	</div>
	<div class="ekart-product-detail">
		<div class="ekart-product-detail-name">
			<h2>{{product.name}}</h2>
		</div>
		<div class="ekart-product-detail-gbc">
			<span>{{product.gender}}</span>
			<span>{{product.brand}}</span>
			<span>{{product.category}}</span>
		</div>
		<div class="ekart-product-detail-price">
			
			<p>
				<b>Price Each Pari :</b>
				<span style="background-color:red; color:white" *ngIf="product.discountPrice"><s>${{product.price}}</s></span>
				<span style="background-color:green; color:white">${{product.discountPrice>0 ? (product.price-(100-(product.discountPrice/product.price*100))).toFixed(2) : product.price.toFixed(2)}}</span> (Inclusive of all taxes)
			</p>
		</div>
		<div class="ekart-product-detail-size">
			<div style="padding:5px 0px; border-bottom:#ccc 2px solid">
				<h4>Available size</h4>
			</div>
			<div style="margin-top: 20px;display:inline-block;position:relative" *ngFor = "let size of product.size">
				<span class="ekart-product-detail-available-size">{{size}}</span>
				<!--<span class="ekart-product-detail-available-size">7</span>
				<span class="ekart-product-detail-available-size">8</span>
				<span class="ekart-product-detail-available-size">9</span>-->
			</div>
		</div>
		<div class="ekart-product-detail-color">
			<div style="padding: 5px 0px; border-bottom: #ccc 2px solid">
				<h4>Available color</h4>
			</div>
			<div style="margin-top:20px;display:inline-block;position:relative" *ngFor="let color of product.color">
				<span class="ekart-product-detail-available-color" style="background-color:{{color}};">{{color}} </span>
				<!--<span class="ekart-product-detail-available-color" style="background-color:green;">g</span>
				<span class="ekart-product-detail-available-color" style="background-color:black;">b </span>
				<span class="ekart-product-detail-available-color" style="background-color:blue;">b </span>-->
			</div>	
		</div>
		<div class="ekart-product-detail-desc">
			<div style="padding: 5px 0px; border-bottom: #ccc 2px solid">
				<h4>DESCRIPTION</h4>
			</div>
            <div style="margin-top:20px">
                <p>DESCRIPTION</p>
            </div>
		</div>
	</div>
	<div class="ekart-product-detail-addtoCart">
		<button class="btn-add-to-cart" *ngIf="product.is_in_inventory; else notifyMe">ADD TO CART</button>
		<ng-template #notifyMe>
			<button class="btn-add-to-cart">NOTIFY ME!</button>
		</ng-template>
	</div>
	
</div>
<div class="overlay"></div>